<html>
<head>
	<title>dfdfgd</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="moment.js"></script>
	<script src="deom.js"></script>
	<link href = "demo.css" rel="stylesheet" type="text/css"/>

</head>
<body ng-app="myApp">
<div ng-controller="TasksCtrl">
    <button ng-click="refresh()">Refresh Tasks</button> 
    
    
    <ul class="tasks">
        <!-- Try commenting the line below and uncommenting the other -->
        <!-- <li ng-repeat="task in tasks" task="task" class="task"></li> -->
        <li ng-repeat="task in tasks track by task.id" task="task" class="task"></li>
    </ul>
	</div>
</body>
</html>